@font-face {
    font-family: 'Lato';
    src: url('subset-Lato-Bold.eot');
    src: url('subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-Lato-Bold.woff2') format('woff2'),
        url('subset-Lato-Bold.woff') format('woff'),
        url('subset-Lato-Bold.ttf') format('truetype'),
        url('subset-Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

